# Godot
godot/.godot/**
godot/.godot/**
godot/addons/**
godot/*.import
godot/*.log

# Server
server/node_modules/**
server/dist/**
server/prisma/dev.db
server/prisma/dev.db-journal

# Root
.gemini/
gha-creds-*.json
replays/*
*.log
node_modules
.kilocode

# OLD
#OLD_BACKUP/
