client/.godot/**
client\.godot\**
server\node_modules\**
server/node_modules/**
.gemini/
gha-creds-*.json
client/src/ui/CombatScreen.gd
replays/*
node_modules/**
node_modules/*
godot-mcp/*
godot-mcp
*.log
server/prisma/dev.db
server/prisma/dev.db-journal
.kilocode
godot-mcp-cli
node_modules
node_modules
OLD_BACKUP/
node_modules
